# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Results
results/*
!results/.gitkeep

# OS / editor
.DS_Store
.vscode/
.idea/

# Environment
.env
